{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="main-page">
        <div class="container">
            <h1>Wellcome to Judemy !</h1>

            <p>This is a template for a simple marketing or informational website. It includes a large callout called a
                jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                unique.</p>

            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container home-registration-form">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Hello , World !</h1>

            <form class="form-horizontal" method="post" action="/"> {% csrf_token %}
                <div class="form-group form-group-lg">
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger">
                                {% comment %}{{ error }}{% endcomment %} Your Email is required !
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="input-group">
                        <input class="form-control" type="email" name="email" placeholder="Your Email Address ..."/>
                    <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary btn-lg ">
                    </span>
                    </div>
                </div>
            </form>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    function showMessage () {
    var messageStr = "{{ message }}"
    alert(messageStr);
    }

{% endblock %}
