{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Share
{% endblock %}
{% block jquery %}
    <script>
        function completedProgress(progressBarId) {
            $(progressBarId).css("width", "100%").attr("aria-valuenow", "100").text("Completed !!!");
        }
        ;

        function setNewPercent(progressBarId, percentNum, newText) {
            $(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);
            if (percentNum < 50) {
                $(progressBarId).text("so close half");
            }
        }
        ;

        $(document).ready(function () {

            var $signUpCount = {{ friends_count }};
            var $newCount;
            var $newPercent;
            if ($signUpCount == 0) {

            } else if ($signUpCount > 0 && $signUpCount < 5) {
                $newPercent = $signUpCount / 5 * 100;
                setNewPercent("#count5", $newPercent, $signUpCount);

            } else if ($signUpCount >= 5 && $signUpCount < 15) {
                $newCount = $signUpCount - 5;
                $newPercent = $newCount / (15 - 5) * 100;
                completedProgress("#count5");
                setNewPercent("#count15", $newPercent, $signUpCount);

            } else if ($signUpCount >= 15 && $signUpCount < 25) {
                $newCount = $signUpCount - 15;
                $newPercent = $newCount / (25 - 15) * 100;
                completedProgress("#count5");
                completedProgress("#count15");
                setNewPercent("#count25", $newPercent, $signUpCount);

            } else if ($signUpCount >= 25 && $signUpCount < 50) {
                $newCount = $signUpCount - 25;
                $newPercent = $newCount / (50 - 25) * 100;
                completedProgress("#count5");
                completedProgress("#count15");
                completedProgress("#count25");
                setNewPercent("#count50", $newPercent, $signUpCount);

            } else {
                completedProgress("#count5");
                completedProgress("#count15");
                completedProgress("#count25");
                completedProgress("#count50");
            }
        });
    </script>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="share-page">
        <div class="container">
            <h1><i class="fa fa-share-alt fa-share-square"></i> Share it &amp; Earn Reward </h1>

            <p>Invite your firends and share your unique link below via Email, Facebook, Twitter, Reddit or LinkedIn to
                earn rewards form CodingForEntreprenurs.Com.</p>

            {% comment %}<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>{% endcomment %}
            <div class="row share-row">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
                    <i id="fa-facebook" class="fa fa-5x fa-facebook-square"></i>
                </a>
                <a href="https://plus.google.com/u/1/sharer?url={{ ref_url }}/" target="_blank">
                    <i id="fa-google-plus" class="fa fa-5x fa-google-plus-square"></i>
                </a>
                <a href="https://twitter.com/home?status=hello%20this%20is%20a%20%23tag%20that%20i%20want%20to%20share%20at%20some%20point.%20Add%20some%20more%20text%20to%20it%2C%20and%20maybe%20more%20%23tags.{{ ref_url }}"
                   target="_blank">
                    <i id class="fa fa-5x fa-twitter-square"></i>
                </a>
                <a target="_blank" href="http://www.pinterst.com/">
                    <i class="fa fa-5x fa-pinterest-square"></i>
                </a>
                <a target="_blank"
                   href="http://www.linkedin.com/shareArticle?mini=false&url={{ ref_url }}title=Hello%2Cthis%20is%20Title%20for%20Linkedin%20!$summery=Hello%2Cthis%20is%20Title%20for%20Linkedin%20!&source={{ ref_url }}">
                    <i class="fa fa-5x fa-linkedin-square"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container home-registration-form">
        <div class="row well div-rounded">
            {% comment %}<p> Reference ID : {{ ref_id }}</p>

            <div>
                <p> Reference URL : {{ ref_url }}</p>
            </div>{% endcomment %}
            <p> Joined Number is : {{ friends_count }}</p>

            {% comment %}<p> Friends List : {{ friends_referred }}</p>{% endcomment %}

        </div>
        <div class="row">
            <div class="col-sm-3">
                <h1>5 Joined</h1>

                <div class="progress">
                    <div id="count5" class="progress-bar progress-bar-success progress-bar-striped progress-bar-text"
                         role="progressbar" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100" style="width: 00%;">
                        00%
                    </div>
                </div>
                <h4>Reward Name</h4>
                <img class="img-responsive img-thumbnail" src="{% static 'img/body1.jpg' %}">
                <hr/>
                <h5>Reward Included :</h5>
                <ul>
                    <li>Reward 1</li>
                    <li>Reward 2</li>
                    <li>Reward 3</li>
                </ul>
                <hr/>
            </div>
            <div class="col-sm-3">
                <h1>15 Joined</h1>

                <div class="progress">
                    <div id="count15" class="progress-bar progress-bar-success progress-bar-striped progress-bar-text"
                         role="progressbar"
                         aria-valuenow="00" aria-valuemin="0" aria-valuemax="100"
                         style="width: 00% ;"
                            >
                        00%
                    </div>
                </div>
                <h4>Reward Name</h4>
                <img class="img-responsive img-thumbnail" src="{% static 'img/body4.jpg' %}">
                <hr/>
                <h5>Reward Included :</h5>
                <ul>
                    <li>Reward 1</li>
                    <li>Reward 2</li>
                    <li>Reward 3</li>
                </ul>
                <hr/>
            </div>
            <div class="col-sm-3">
                <h1>25 Joined</h1>

                <div class="progress">
                    <div id="count25" class="progress-bar progress-bar-success progress-bar-striped progress-bar-text"
                         role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         style="width: 00% ;"
                            >
                        00%
                    </div>
                </div>
                <h4>Reward Name</h4>
                <img class="img-responsive img-thumbnail" src="{% static 'img/body4.jpg' %}">
                <hr/>
                <h5>Reward Included :</h5>
                <ul>
                    <li>Reward 1</li>
                    <li>Reward 2</li>
                    <li>Reward 3</li>
                </ul>
                <hr/>
            </div>
            <div class="col-sm-3">
                <h1>50 Joined</h1>

                <div class="progress">
                    <div id="count50" class="progress-bar progress-bar-success progress-bar-striped progress-bar-text"
                         role="progressbar" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100"
                         style="width: 00% ;"
                            >
                        00%
                    </div>
                </div>
                <h4>Reward Name</h4>
                <img class="img-responsive img-thumbnail" src="{% static 'img/body1.jpg' %}">
                <hr/>
                <h5>Reward Included : </h5>
                <ul>
                    <li>Reward 1</li>
                    <li>Reward 2</li>
                    <li>Reward 3</li>
                </ul>
                <hr/>
            </div>
        </div>
    </div>

{% endblock %}